<% if user_signed_in? %>
<div id="siso-user-profile" class="hc-float-box hc-float-box-right">
  <div id="siso-user-profile" class="hc-object-content">
    <ul>
      <li><%= session[:name] %> &lt;<%= session[:mail] %>&gt;</li>
      <li><%= current_user.phone %></li>
      <li><%= current_user.mobile %></li>
    </ul>
    <ul>
      <li>Since: <%= current_user.created_at.strftime("%Y-%m-%d") %>
      (<%= (Date.today - current_user.created_at.to_datetime).to_f %>)</li>
      <li><%= current_user.active ? "Active" : "Inactive" %>
      Member of <%= current_user.group.name %> group</li>
    </ul>
  </div>
</div>
<% end %>

<div id="services_manage" class="services paragraph">
  <h2>Authentication Services - Settings</h2>
  <h3>Your current Authentications:</h3>

  <% @services.each do |service| %>  
    <div class="hc-float-box">
      <div class="hc-object-thumb">
      <% if ['facebook','google','twitter','ldap'].index(service.provider) %>
        <%= image_tag "/icons/64s/#{service.provider}.png", :size => "64x64" %>
      <% else %>
        <%= image_tag "/icons/64s/open_id.png", :size => "64x64" %>
      <% end %>
      </div>

      <div class="hc-object-content">
      UID: <%= service.uid if service.uid != '' %><br />
      Name: <%= service.sname if service.sname != '' %><br />
      Mail: <%= service.smail if service.smail != '' %><br />
      <% if session[:auth] == service.id %>
      <span>Current Login</span>
      <% else %>
      <%= link_to "Remove this service", service, :confirm => 'Are you sure you want to remove this authentication?', :method => :delete, :class => "remove" %>
      <% end %>
      </div>
    </div>  
  <% end %>

  <div id="services_available">
  <h3>Add more Authentications:</h3>

  <!--%= render 'services_list'%-->
  </div>
</div>
