<div id="user-info" class="users float-box">
  <% if user_signed_in? %>
  <div id="user-profile">
    <% if current_user.image == nil %>
      <%= image_tag current_user.gravatar_url(:size => 120) %>
    <% else %>
    <img src="<%= url_for(:controller => "users", :action => "photo",
                          :id => session[:user]) %>" />
    <% end %>
    <div>
      <ul>
        <li><%= session[:name] %> &lt;<%= session[:mail] %>&gt;</li>
        <li><%= current_user.phone %></li>
        <li><%= current_user.mobile %></li>
        <li><%= (Date.today - current_user.created_at.to_datetime).to_f %></li>
        <li>Since: <%= current_user.created_at.strftime("%Y-%m-%d") %></li>
        <li><%= current_user.active ? "Active" : "Inactive" %> User</li>
      </ul>
    </div>
  </div>
  <% end %>
</div>

<div id="services_manage" class="services paragraph">
  <h2>Authentication Services - Settings</h2>
  <h3>Your current Authentications:</h3>

  <% @services.each do |service| %>  
    <div class="service_in_use round">  
      <div class="service_img">
      <% if ['facebook','google','twitter'].index(service.provider) %>
        <%= image_tag "/icons/64s/#{service.provider}.png", :size => "64x64" %>
      <% else %>
        <%= image_tag "/icons/64s/openid.png", :size => "64x64" %>
      <% end %>
      </div>

      <div class="service_userdata">
      UID: <%= service.uid if service.uid != '' %><br />
      Name: <%= service.sname if service.sname != '' %><br />
      Mail: <%= service.smail if service.smail != '' %><br />
      <% if session[:auth] == service.id %>
      <span>Current Login</span>
      <% else %>
      <%= link_to "Remove this service", service, :confirm => 'Are you sure you want to remove this authentication?', :method => :delete, :class => "remove" %>
      <% end %>
      </div>
    </div>  
  <% end %>

  <div id="services_available">
  <h3>Add more Authentications:</h3>

  <!--%= render 'services_list'%-->
  </div>
</div>
