<div id="controller-body" class="services paragraph">
  <h2>User Management</h2>
  <h3>Registered Users:</h3>

  <% @users.each do |user| %>  
    <div class="object-box round">  
      <div class="object-image">
      <% if user.image == nil %>
        <%= image_tag user.gravatar_url(:size => 120) %>
      <% else %>
      <img src="<%= url_for(:controller => "users", :action => "photo",
                            :id => user) %>" />
      <% end %>
      </div>

      <%= image_tag "/icons/64s/#{user.services.first.provider}.png",
      :size => "32x32", :class => "info-provider" %>
      <div class="object-data">
        <ul class="align-right">
          <li>uid</li>
          <li>name</li>
          <li>mail</li>
          <li>phone</li>
          <li>mobile</li>
          <li>birthday</li>
          <li>status</li>
          <li>group</li>
        </ul>
        <ul class="align-left">
          <li>: <%= user.id if user.id != '' %>
          <% if session[:user] == user.id %>
            <span class="highlight-1">You!</span>
          <% else %>
            <%= link_to "Unregister", user, :confirm => 'Are you sure you want to remove this authentication?', :method => :delete, :class => "remove" %>
          <% end %>
          </li>
          <li>: <%= user.name if user.name != '' %></li>
          <li>: <%= user.mail if user.mail != '' %></li>
          <li>: <%= user.phone %></li>
          <li>: <%= user.mobile %></li>
          <li>: <%= user.created_at.strftime("%Y-%m-%d %H:%M:%S") %></li>
          <li>: <%= user.active ? "Active" : "Inactive" %></li>
          <li>:
          <span class="ic-inline ic-<%= user.group.name %>"></span>
          <%= user.group.name %> 
          </li>
        </ul>
      </div>
    </div>  
  <% end %>
</div>
