<!DOCTYPE html>
<html>
<head>
  <title>SiSO</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="hc-main-wrapper">

<div class="hc-page-head">
  <div class="hc-ribbon-info">
  <% if user_signed_in? %>
    <ul>
      <% if current_user.image == nil %>
      <li><%= image_tag current_user.gravatar_url %></li>
      <% else %>
      <li><img src="<%= url_for(:controller => "users", :action => "photo",
                                :id => session[:user]) %>" /></li>
      <% end %>
      <li><%= current_user.active ? "active" : "inactive" %>
          <%= current_user.group.name %></li>
      <li><%= session[:name] %></li>
      <li><%= session[:mail] %></li>
      <li><%= link_to "settings", services_path %></li>
      <li><%= link_to "signout", signout_services_path %></li>
    </ul>
  <% end %>
  </div>
  <h1 class="hc-site-title">SiSO</h1>
  <span class="hc-site-comment">Single Sign On service for Hyeoncheon Family.</span>
</div>

<div class="hc-flash-wrapper">
<% flash.each do |key, value| %>
  <script>
    setTimeout(function(){
        document.getElementById("flash-<%= key %>").style.opacity = '.4'
    }, 3000);
    setTimeout(function(){
        document.getElementById("flash-<%= key %>").style.opacity = '.35'
    }, 3100);
    setTimeout(function(){
        document.getElementById("flash-<%= key %>").style.opacity = '.3'
    }, 3200);
    setTimeout(function(){
        document.getElementById("flash-<%= key %>").style.opacity = '.25'
    }, 3300);
    setTimeout(function(){
        document.getElementById("flash-<%= key %>").style.opacity = '.2'
    }, 3400);
    setTimeout(function(){
        document.getElementById("flash-<%= key %>").style.opacity = '.15'
    }, 3500);
    setTimeout(function(){
        document.getElementById("flash-<%= key %>").style.opacity = '.1'
    }, 3600);
    setTimeout(function(){
        document.getElementById("flash-<%= key %>").style.opacity = '.05'
    }, 3900);
    setTimeout(function(){
        document.getElementById("flash-<%= key %>").style.display = 'none'
    }, 4000);
  </script>
  <div class="flash <%= key %> round" id="flash-<%= key %>"><%= value %></div>
<% end %>
</div>

<div class="hc-page-body">
<% if user_signed_in? %>

  <%= yield %>

<% else %>
  <div id="siso-dialog-login" class="hc-dialog">
    <div class="hc-dialog-title">Login</div>
    <div class="hc-dialog-body">
      <span>Signin with</span>
      <%= link_to "LDAP", '/siso/auth/ldap' %>,
      <%= link_to "OpenID", '/siso/auth/open_id' %>
      or
      <%= link_to "Other", signin_services_path %>
    </div>
  </div>
<% end %>
</div>
<div class="hc-tail-placeholder"></div>
</div>
<!-- page-tail placed outside of frame -->
<div class="hc-site-tail">
  <ul>
    <li>SiSO, Member of Hyeoncheon - the Black Sky</li>
    <li>powered by Ruby on Rails, OmniAuth, Doorkeeper and Scinix</li>
  </ul>
</div>

</body>
</html>
<!-- vim: set ts=2 sw=2 expandtab: -->
